<template>
    <div class="doll-section">
        <div class="Photo"><img :src="photoPath" :alt="itemInfo"/></div>
        <div class="info"><a>{{itemInfo}}</a></div>
        <div class="price"><p>{{itemPriceBefore |currency }}원</p>{{itemPrice |currency }}원</div>
        <div class="star"><img :src="itemStar" :alt="itemStar" /></div>

        <div v-if="itemPriceBefore - itemPrice>50000"> 빅딜 </div>
        <div v-else> 할인가</div>

        <div><nuxt-link :to="'/vp/products/'+id">자세히 보기</nuxt-link></div>
    </div>
</template>

<script>
export default {
    props: {
        id:{
            type:Number,
            required: true
        },
        photoPath: {
            type: String,
            required: true
        },
        itemInfo: {
            type: String,
            required: true
        },
        itemPriceBefore: {
          type: Number,
          required: true
        },
        itemPrice: {
            type: Number,
            required: true
        },
        itemStar: {
            type: String,
            required: true
        }
    }
}
</script>
