@font-face {
    font-family: 'iceSotong-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceSotong-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

div.error-box {
    width: 300px;
    border: #eeeeee 1px solid;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 20px 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 1px 1px #EDEDED;
    box-shadow: 1px 1px 1px 1px #EDEDED;
}

div.error-box div.in-icon i {
    font-size: 84px;
    color: #666666;
}

div.error-box div.in-code {
    font-size: 24px;
    font-weight: 600;
}


div.sq-login-box {
    width: 350px;
    margin: 0 auto;
    padding-top: calc(50vh - 153px);
}

div.sq-login-box div.img-box img {
    width: 100%;
}


span.sq-status-badge {
    background-color: #ac0000;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 15px 10px 5px;
    color: #ffffff;
}

span.sq-status-badge span {
    background-color: #ffffff;
    color: #333333;
    -webkit-border-radius: 150px;
    border-radius: 150px;
    padding: 5px 10px;
}


div.sq-ending-thumb-box {
    width: 120px;
    background-color: #001b89;
    text-align: center;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

div.sq-ending-thumb-box div.in-thumb {
    padding-top: 10px;
}

div.sq-ending-thumb-box div.in-thumb img {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

div.sq-ending-thumb-box div.in-text {
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: 600;
}

.sq-ballon {
    border: #333333 1px solid;
    width: 320px;
    position: relative;
    background: #333333;
    color: #ffffff;
    border-radius: 5px;
    padding: 12px 12.8px;
    -webkit-box-shadow: 3px 3px 3px 3px #D1D1D1;
    box-shadow: 3px 3px 3px 3px #D1D1D1;
}


.sq-ballon:after {
    border-top: 10px solid #333333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0 solid transparent;
    content: "";
    position: absolute;
    top: 35px;
    left: 160px;
}

/*코팡 웹*/
section.frame-right > div.contents-body {
    padding: 0px;
}

.section-doll > div > h1 {
    font-weight: bold;
    font-family: 'SUITE-Regular';
    font-size: 40px;
    margin-left: 230px;
    margin-top: 70px;
}

div.contents-flex {
    margin: 10px 10px 20px 200px;
    display: flex;
}

div.doll-section {
    background: #e7f4f4;
    margin: 0 10px;
    width: 220px;
}

div.doll-section a{
    color: #333333;
}

div.doll-section a:hover{
    text-decoration: underline;
}
div.doll-section > div {
    margin: 10px;
}

div.doll-section > div.Photo > img {
    padding-bottom: 10px;
    width: 200px;
    height: 180px;
}

div.doll-section > div.Photo > img:hover {
    transform: scale(1.1);
    transition-duration: 0.1s;
}

div.doll-section > div.star {
    padding: 0;
    margin: 0px;
    height: 22px;
}

div.doll-section > div.info {
    font-size: 18px;
    font-weight: bold;
}

div.doll-section > div.star > img {
    padding: 0px;
    width: 220px;
    height: 20px;
}

div.doll-section > div.price {
    font-size: 14px;
    font-weight: bold;
    color: #ac0c0c;
}
div.doll-section > div.price p{
    text-decoration: line-through;
}

div.main-page {
    display: flex;
    justify-content: space-between;
}

div.banner {
    text-align: center;
    border: 1px solid #333333;
    height: 500px;
    width: 170px;
    margin-right: 150px;
    margin-top: 10px;
    background-image: url("../static/images/bannerback.jpg");
    background-size: cover;
}

div.banner > h2 {
    color: #f9f9f9;
    margin-top: 60px;
    font-size: 20px;
    font-weight: bold;
}

div.banner img {
    margin: 30px;
    width: 120px;
    height: 150px;
}

div.top-banner {
    padding-left: 10px;
    margin-top: 0px;
    height: 150px;
    background:linear-gradient(#ec3638, #70b084) repeat-x;

    overflow: hidden;
}

div.top-banner h2 {
    font-family: 'iceSotong-Rg';
    width: 800px;
    margin-top: 50px;
    margin-left: 350px;
    font-size: 75px;
    color: #f9f9f9;
}

section.sq-main-sidebar-info {

    background: #333333;
}
div.header-content{
    background:#70b084 url("../static/images/topbannerback.png") repeat-x;
    background-size: 180px 180px;
    height: 100px; display: flex; align-items: end;
overflow: hidden;}

div.header-content ul{
    display: flex;
    gap:40px;
    justify-content: center;
    margin-left: 120px;
    margin-bottom: 10px;
}

div.header-content ul a{
    font-size: 24px;
    color:#f9f9f9;
    font-family: 'SUITE-Regular';
}

div.header-content ul a:hover{
    text-decoration: underline;
}
footer{margin-top: 60px;
    margin-bottom: 30px}
footer>ul{
    display: flex; gap: 15px;
    justify-content: center;
}
footer>ul a{
color: #666666;
}
footer> div.footer-copy{
    text-align: center;
    margin-top: 10px;
    color:#666666;
}
