<template>
    <section class="section-doll">
        <div class="top-banner">
            <div><h2>Christmas Sale Event</h2></div>
        </div>
        <div class="header-content">
            <nav>
            <ul>
                <li><a>쇼핑홈</a></li>
                <li><a>카테고리</a></li>
                <li><a>오늘의 딜</a></li>
                <li><a>연말 빅세일</a></li>
                <li><a>프리미엄</a></li>
                <li><a>기획전</a></li>
            </ul></nav>
        </div><div><h1>연말 빅세일</h1></div>
        <div class="main-page">
            <div class="main-content">
                <div class="contents-flex">
                    <copang-web
                        v-for="(item,index) in doll"
                        v-bind:Key="index"
                        v-bind:id="item.id"
                        v-bind:item-star="item.star"
                        v-bind:item-price-before="item.priceBefore"
                        v-bind:item-price="item.price"
                        v-bind:item-info="item.info"
                        v-bind:photo-path="item.photoName">
                    </copang-web>
                </div>
                <div class="contents-flex">
                    <copang-web
                        v-for="(item,index) in trees"
                        v-bind:Key="index"
                        v-bind:item-star="item.star"
                        v-bind:item-price="item.price"
                        v-bind:item-price-before="item.priceBefore"
                        v-bind:item-info="item.info"
                        v-bind:photo-path="item.photoName">
                    </copang-web>
                </div>
            </div>
            <div class="banner">
                <h2>할인 상품!!</h2>
                <img src="/images/banner.jpg">
                <h2> 바나나 우유 재판매</h2>
            </div>
        </div>
        <footer>
            <ul>
                <li><a> 이용 약관 </a></li>
                <li><a> 재휴 문의 </a></li>
                <li><a> 고객 센터 </a></li>
                <li><a> 광고 안내 </a></li>
                <li><a> 개인정보 처리방침</a></li>
            </ul>
            <div class="footer-copy">
                &copy;Copang Corp. All right reserved.
            </div>
        </footer>
    </section>
</template>
<script>
export default {
    data() {
        return {
            doll: [
                {   id: 5,
                    photoName: '/images/item1.jpg',
                    info: '곰돌이 키링',
                    priceBefore: 30000,
                    price: 24000,
                    star: '/images/star4.png'
                },
                {   id: 6,
                    photoName: '/images/item2.jpg',
                    info: '곰돌이 인형',
                    priceBefore: 60000,
                    price: 54000,
                    star: '/images/star3.png'
                },
                {   id: 7,
                    photoName: '/images/item3.jpg',
                    info: '곰돌이 방석',
                    priceBefore: 30000,
                    price: 25000,
                    star: '/images/star4.png'
                },
                {   id: 8,
                    photoName: '/images/item4.jpg',
                    info: '곰돌이 굿즈',
                    priceBefore: 30000,
                    price: 26000,
                    star: '/images/star5.png'
                }
            ],
            trees: [
                {   id: 9,
                    photoName: '/images/tree1.jpeg',
                    info: '제주산 구상나무 트리',
                    priceBefore: 390000,
                    price: 340000,
                    star: '/images/star4.png'
                },
                {   id: 10,
                    photoName: '/images/tree2.jpeg',
                    info: '핀란드산 구상나무 트리',
                    priceBefore: 300000,
                    price: 240000,
                    star: '/images/star3.png'
                },
                {   id: 11,
                    photoName: '/images/tree3.jpeg',
                    info: '제주산 구상나무 트리2',
                    priceBefore: 1990000,
                    price: 1940000,
                    star: '/images/star4.png'
                },
                {   id: 12,
                    photoName: '/images/tree4.jpeg',
                    info: '서양식 트리',
                    priceBefore: 3030000,
                    price: 2600000,
                    star: '/images/star5.png'
                }
            ]
        }
    }


}
</script>
